<header class="header">

    <nav class="header_nav">
      <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/api/users">Users</a>
        </li>
        <li>
            <a href="/api/sources">BBC News</a> 
        </li>
        <li>
            <a href="/api/country">US</a> 
        </li>
        <li>
            <a href="/api/categoty">Technology</a>
        </li>
        
      </ul>
    </nav>

</header>