<header class="header">

    <nav class="header_nav">
      <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/api/users">Users</a>
        </li>
        <li>
            <a href="/api/country">Countries</a>
        </li>
        <li>
            <a href="/api/categoty">Categories</a>
        </li>
        <li>
            <a href="/">Search</a>
        </li>
      </ul>
    </nav>

</header>