<header class="header">
    <!-- <a href="/" class="header_logo">Logo</a> -->

    <nav class="header_nav">
      <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/api/users">Users</a>
        </li>
        <li>
            <a href="/api/sources">BBC News</a> 
        </li>
        <li>
            <a href="/api/search">Search</a> 
        </li>
      </ul>
    </nav>
  
    <!-- <div class="header_button">
      <button class="searchBtn" aria-expanded="false">
        Search
      </button>
    </div> -->

</header>