<section class="articles">
  <h2 class="article_heading">Latest Technology News</h2>

  <ul class="article_lists">
    <% technologies.forEach(technology => { %>
      <li>
        <a href="api/technologies/<%= technology._id %>" style="display:flex; text-decoration:none;"> 
          <%= technology.title %> &nearr;
          <!-- <span class="article_list_controls"><%= technology.publishedAt%></span> -->
        </a>
        <div class="article_list_controls">
          <a href="api/technologies/<%= technology._id %>" class="btn">View</a>
        </div>
      </li>
    <% }) %> 
  </ul>

  <a href="#" class="pagination">&lt; View Older News</a>
</section>

  
