<section class="source_post" style="margin-top: 50px;">
    <div class="post_box" style="width:500px;">
      <h2 class="articles_heading" style="font-weight:400;"><b>Create a BBC News</b></h2>
          
      <form action="/api/sources" method="POST">
        <input type="text" name="author" placeholder="  Author"><br>
        <!-- <label for="email"><b>Email</b></label><br> -->
        <input type="text" name="title" placeholder="  Title"><br>
        
        <b>Description</b>
        <textarea id="text" name="description" rows="3" cols="50" placeholder="Enter description"></textarea><br>
        
        <input type="text" name="url" placeholder="  URL"><br>
        <input type="text" name="urlToImage" placeholder="  URL to Image"><br>

        <b>Content</b>
        <textarea id="text" name="Content" rows="3" cols="50" placeholder="Enter content"></textarea><br>
          
        <input type="submit" class="btn" value="Add Source">
      </form>
    </div>
</section>