<section class="user_post">
    <div class="post_box" style="width:300px;">
      <h2 class="articles_heading" style="font-weight:400;"><b>Create New User</b></h2>
          
      <form action="/api/users" method="POST">
      
        <!-- <label for="name"><b>Name</b></label><br> -->
        <input type="text" name="name" placeholder="  Name"><br>
          
        <!-- <label for="email"><b>Email</b></label><br> -->
        <input type="email" name="email" placeholder="  Email"><br>
          
        <input type="submit" class="btn" value="Add User">
      </form>
    </div>
</section>